<h2 class="mb-4 mt-3 mx-auto text-white">Illegal Stuffs list</h2>

<div class="input-group mb-3 col-12 col-sm-6 ml-auto">
  <input
    [(ngModel)]="filterPhrase"
    type="text"
    class="form-control"
    placeholder="Search Illegal Stuffs Name / Description"
    aria-label="Recipient's username"
    aria-describedby="button-addon2"
  />
  <div class="input-group-append">
    <button class="btn btn-info" type="button" id="button-addon2">
      Search
    </button>
  </div>
</div>
<h4 class="mb-4 mt-3 mx-auto text-white">NEW products recommended to you:</h4>
<app-product-paginator [drugs]="featuredDrugs"></app-product-paginator>

<h4 class="text-light my-3 text-center">*** All Illegal stuffs ***</h4>
<div class="">
  <div class="row">
    <div class="">
      <app-product-list
        [drugs]="
          illegals | filter: { name: filterPhrase, description: filterPhrase }
        "
      ></app-product-list>
    </div>
    <!-- <div class="col-12" *ngFor="let killer of painKillers | filter:filterPhrase:'name'">
        <app-card [drug]="killer"></app-card>
      </div> -->
  </div>
</div>
