<div class="row card_field col-12 mx-4 d-flex justify-content-start">
  <div
    class="row"
    *ngFor="let drug of drugs"
    class="card col-sm-5 col-lg-2 p-0 border-0 m-3"
    style="width: 22rem"
  >
    <img src="{{ drug.img_src }}" class="card-img-top" alt="..." />
    <div class="card-body p-2 mb-2">
      <h2 class="card-title text-break text-uppercase">{{ drug.name }}</h2>
      <p class="card-text text-break">Descr: {{ drug.description }}</p>
      <p class="card-text">On stock: {{ drug.stock }}</p>
      <h2 class="card-text font-weight-bold">Price: {{ drug.price }}$</h2>
    </div>
    <div class="container">
      <div class="row px-1">
        <h5 *ngIf="drug.featured" class="mr-auto">
          <span class="badge badge-pill badge-success">New</span>
        </h5>
        <h5 *ngIf="drug.active" class="ml-auto">
          <span class="badge badge-pill badge-danger">10% Disc.</span>
        </h5>
      </div>
    </div>
  </div>
</div>
