* {
  margin:0;
  padding: 0;
}

.mom {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-image: url("../assets/img/pharmacy_img_bw.jpg");
  background-position: fixed;
}
