<div class="form-group">
<td scope="row">
    <label for="name">Name:</label>
<input id="name" type="text" placeholder="New drug name" [(ngModel)]="product.name" class="form-control" >
</td>
<td>
    <label for="description">Description:</label>
<input id="description" type="text" placeholder="Description" [(ngModel)]="product.description" class="form-control">
</td>
<td>
    <label for="price" class="">Price:</label>
<input id="price" type="text" placeholder="Price" [(ngModel)]="product.price" class="form-control">
</td>
<td>
    <label for="stock">Stock:</label>
<input id="stock" type="text" placeholder="Stock" [(ngModel)]="product.stock" class="form-control">
</td>
<td>
    <label for="featured">Featured:</label>
<input id="featured" type="checkbox" style="width:200px;" [(ngModel)]="product.featured" class="form-control">
</td>
<td>
    <label for="active">Active:</label>
<input id="active" type="checkbox" style="width:200px;" [(ngModel)]="product.active" class="form-control">
</td>
<td>
<button class="btn btn-info" (click)="onSave()">
    <i class="bi bi-save"></i>
</button>
<button class="btn btn-danger" (click)="onDelete()">
    <i class="bi bi-x-square-fill"></i>
</button>
</td>
</div>