<input type="text" [(ngModel)]="product.name" >
<input type="text" [(ngModel)]="product.description" >
<input type="text" [(ngModel)]="product.price" >
<input type="text" [(ngModel)]="product.stock" >
<input type="checkbox" [(ngModel)]="product.featured" >
<input type="checkbox" [(ngModel)]="product.active" >
<button class="btn btn-info" (click)="onSave()">
    <i class="bi bi-save"></i>
</button>
<button class="btn btn-danger" (click)="onDelete()">
    <i class="bi bi-x-square-fill"></i>
</button>
