<h2 class="mb-4 mt-3 mx-auto text-white">Recommended to you:</h2>
<app-product-paginator [drugs]="featuredDrugs"></app-product-paginator>
<hr>

<h2 class="mb-4 mt-4 mx-auto text-white">Special discount:</h2>
<app-product-paginator [drugs]="specialOfferDrugs" data-toggle="tooltip" data-placement="top" title="💲💲 SPECIAL DISCOUNT 💲💲"></app-product-paginator>
<hr/>

<h2 class="mb-4 mt-4 mx-auto text-white text-center">*** Complete Drugs list ***</h2>
<app-product-list [drugs]="drugs"></app-product-list>
