
<div class="">
  <h2 class="mb-4 mx-auto text-white">Stimulants list</h2>
  <div class="input-group mb-3 col-12 col-sm-6 mx-left">
    <input
    [(ngModel)]="filterPhrase"
    type="text"
    class="form-control"
    placeholder="Search Stimulants Name / Description"
    aria-label="Recipient's username"
    aria-describedby="button-addon2"
    />
    <div class="input-group-append">
      <button class="btn btn-info" type="button" id="button-addon2">
        Search
      </button>
    </div>
  </div>
      <h3 class="text-light my-3 text-center">---  Featured Stimulants  ---</h3>
  <app-product-paginator [drugs]="featuredDrugs"></app-product-paginator>
        <h3 class="text-light my-3 text-center">---  All Stimulants  ---</h3>
  <div class="">
    <div class="row">
      <div class="col-12">
        <app-product-list
          [drugs]="stimulants | filter:{ name: filterPhrase, description: filterPhrase }"
        ></app-product-list>
      </div>
      <!-- <div class="col-12" *ngFor="let killer of painKillers | filter:filterPhrase:'name'">
        <app-card [drug]="killer"></app-card>
      </div> -->
    </div>
  </div>
</div>
